<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <s48_gtm_datalayer>
            <default>
                <active>1</active>
                <order_success_active>1</order_success_active>
                <item_category>Furniture</item_category>
            </default>
        </s48_gtm_datalayer>
    </default>
</config>