<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="space48_gtm_datalayer_order_success" instance="Space48\GtmDataLayer\Observer\Frontend\OrderSuccessObserver" />
    </event>
</config>